*/15 * * * * cd /path/to/Congress && CONGRESS_API_KEYS="key1,key2,key3" /usr/bin/env python3 -u Scraper/congress_scraper.py --incremental --workers 10 --congress 119 >> Scraper/congress_scraper.log 2>&1
